<template>
    <require from="aurelia-dialog/ux-dialog"></require>
    
    <ux-dialog class="r-dialog r-job-dialog">
        <div class="r-dialog-row r-no-margin">
            <h1 class="r-dialog-header">Create a new Job</h1>
        </div>
        <div class="r-dialog-row r-no-margin">
            <span class="r-dialog-body">Schedule</span>
        </div>
        <div class="r-dialog-row r-component-row">
            <select class="form-control r-dialog-control" value.bind="job.schedule_id">
                <option model.bind="null">Schedule</option>
                <option model.bind="schedule.id" repeat.for="schedule of schedules" >${schedule.display_name}</option>
            </select>
        </div>
        <div class="r-dialog-row r-component-row">
            <div class="r-dialog-label">Offset</div>
            <input type="number" class="r-dialog-control r-with-label" value.bind="job.offset" />
        </div>
        <div class="r-dialog-row r-no-margin r-dialog-footer">
            <button class="btn btn-default r-left" type="button" click.delegate="dialogController.cancel(job)">Back</button>
            <button class="btn btn-primary r-right" type="button" click.delegate="submit()">Continue</button>
        </div>
    </ux-dialog>
</template>