<template>
    <require from="aurelia-dialog/ux-dialog"></require>
    
    <ux-dialog class="r-dialog r-job-dialog">
        <div class="r-dialog-row r-no-margin">
            <h1 class="r-dialog-header">Create a new Job</h1>
        </div>
        <div class="r-dialog-row r-no-margin">
            <span class="r-dialog-body">Schedule</span>
        </div>
        <div class="r-dialog-row r-component-row">
            <select class="form-control r-dialog-control ${formState.schedule ? '' : 'r-error'}" value.bind="job.schedule_id" change.delegate="validateForm()">
                <option model.bind="null">Schedule</option>
                <option model.bind="schedule.id" repeat.for="schedule of schedules" >${schedule.display_name}</option>
            </select>
        </div>
        <div class="r-dialog-row r-component-row">
            <div class="r-dialog-label"><span class="r-dialog-label-text">Offset</span></div>
            <input type="number" class="r-dialog-control r-with-label ${formState.offset ? '' : 'r-error'}" value.bind="job.offset" change.delegate="validateForm()" keyup.delegate="validateForm()"/>
        </div>
        <div class="r-dialog-row r-no-margin r-dialog-footer">
            <button class="btn btn-default r-left" type="button" click.delegate="dialogController.cancel(job)">Back</button>
            <button if.bind="canContinue" class="btn btn-primary r-right" type="button" click.delegate="submit()">Continue</button>
            <button if.bind="!canContinue" class="btn btn-primary-disabled r-right" disabled title="Please fill out the required fields" type="button">Continue</button>
        </div>
    </ux-dialog>
</template>