<template>
    <div if.bind="isLoggedIn" class="r-nav-menu">
        <div class="r-menu-header">
            <img class="r-menu-header-icon" src="../../assets/reperio-rAsset-31.png"/>
            <div class="r-menu-header-text">
                <span>Reper.io Backups</span>
            </div>
        </div>
        <div class="r-menu-item">
            <span >Status</span>
        </div>
        <div class="r-menu-item">
            <span>History</span>
        </div>
        <div class="r-menu-item">
            <span>Home</span>
        </div>
        <div class="r-menu-item">
            <span><a href="#/jobs">Jobs</a></span>
        </div>
        <div class="r-menu-item">
            <span><a href="#/history">History</a></span>
        </div>
    </div>
</template>