<template>
    <div if.bind="isLoggedIn" class="r-nav-menu">
        <div class="r-menu-header">
            <img class="r-menu-header-icon" src="../../assets/reperio-rAsset-31.png"/>
            <div class="r-menu-header-text">
                <span>Reper.io Backups</span>
            </div>
        </div>
        <div class="r-menu-item ${activeRoute === 'home' ? 'r-menu-item-active' : ''}">
            <span><a href="#/home">Home</a></span>
        </div>
        <div class="r-menu-item ${activeRoute === 'history' ? 'r-menu-item-active' : ''}">
            <span><a href="#/history">History</a></span>
        </div>
        <div class="r-menu-item ${activeRoute === 'jobs' ? 'r-menu-item-active' : ''}">
            <span><a href="#/jobs">Jobs</a></span>
        </div>
        <div class="r-menu-item ${activeRoute === 'vms' ? 'r-menu-item-active' : ''}">
            <span><a href="#/vms">Virtual Machines</a></span>
        </div>
    </div>
</template>