<template>
    <div>
        <h3>Jobs</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Schedule</th>
                    <th>SDC Id</th>
                    <th>Source Location</th>
                    <th>Target Location</th>
                    <th>ZFS Type</th>
                    <th>ZFS Size</th>
                    <th>Offset</th>
                    <th>Source Host Id</th>
                    <th>Target Host Id</th>
                    <th>Last Execution</th>
                    <th>Last Schedule</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="job of jobs">
                    <td>${job.name}</td>
                    <td>${job.id}</td>
                    <td>${job.job_schedule.name}</td>
                    <td>${job.sdc_vm_id}</td>
                    <td>${job.source_location}</td>
                    <td>${job.target_location}</td>
                    <td>${job.zfs_type}</td>
                    <td>${job.zfs_size}</td>
                    <td>${job.offset}</td>
                    <td>${job.job_source_host.name}</td>
                    <td>${job.job_target_host.name}</td>
                    <td>${job.last_execution}</td>
                    <td>${job.last_schedule}</td>
                    <td>${job.enabled}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>