@import 'imports';
@import 'variables';

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

// h1 {
//   font-family: Helvetica, sans-serif;
//   font-size: 48px;
//   color: $primary-color;
// }

h1 {
  color: $primary-color;
	font-family: "Open Sans";
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 26.4px;
  margin-top: 0px;
  margin-bottom: 40px;
}
h3 {
  color: $primary-color;
	font-family: "Open Sans";
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.form-control {
  border-radius: 0px;
}

.r-banner {
  height: 5em;
  background-image: url("../assets/rio-slider-colorband1.png");
  background-color: white;
  background-size: cover;
  background-position: center top;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.r-footer {
  height: 4em;
  background-color: $primary-color;
  position: fixed;
  bottom:0;
  width: 100%;
  z-index: 5;
}

.r-login-header {
  text-align: center;
  color: $primary-color;
  margin-top: 2em;
  font-weight: bold;
  font-size: 4em;
}

.r-login-container {
  width: 350px;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  background-color: $secondary-color;
  padding: 10px;

  .r-login-row {
    margin-top: 10px;
    text-align: center;

    .r-login-forgot-password {
      padding-top: 5px;
      text-decoration: underline;
    }

    .r-login-sign-in {
      margin-top: 20px;
      width: 50%;
      height: 50px;
      font-size: 2em;
    }


    .r-login-form-row-control {
      width: 75%;
      text-align: left;
      border: 1px solid lightgrey;
      padding-left: 10px;
    }
  }
}

.r-main-window {
  margin-top: 5em;
}

.r-nav-menu {
  background-color: $nav-menu-background;
  height: 91em;
  width: 200px;
  border-right: 1px solid $nav-menu-border;
  border-left: 1px solid $nav-menu-border;
  float: left;
  position: fixed;
  z-index: 5;

  .r-menu-header {
    border-bottom: 2px solid $nav-menu-border;
    padding-bottom: 10px;
    padding-top: 5px;

    .r-menu-header-text {
      text-align: left;
      margin-top: auto;
      margin-bottom: auto;

      span {
        font-weight: bold;
        font-size: 1.5em;
        color: $primary-color;
      }
    }

    .r-menu-header-icon {
      width: 18%;
      height: 18%;

      float: left;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .r-menu-item {
    font-size: 2em;
    color: $primary-color;
    margin-left: 15px;
    margin-top: 10px;
  }
}

.r-status-grid {

  .r-status-grid-header {
    margin-left: 15px;
    font-size: 4em;
    color: $primary-color;
  }

  .r-status-card {
    border: 1px solid $nav-menu-border;

    margin-top: 2em;
    text-align: center;

    .r-status-card-header {
      border-bottom: 1px solid $nav-menu-border;

      .r-status-card-hostname {
        font-size: 2em;
        color: $primary-color;
        font-weight: bold;
      }

      .r-status-card-uuid {
        font-size: 1em;
        color: $nav-menu-border;
        font-weight: bold;
      }

      .r-status-card-ip-address {
        font-size: 1em;
        color: $nav-menu-border;
        font-weight: bold;
      }
    }

    .r-status-card-details {
      margin-top: 0.25em;
      font-size: 1em;
      color: $nav-menu-border;
      font-weight: bold;
    }

    .r-status-card-charts {
      margin-top: 1em;
    }
  }

  .r-status-good {
    background-color: $status-card-good;
  }

  .r-status-warning {
    background-color: $status-card-warning;
  }

  .r-status-bad {
    background-color: $status-card-bad;
  }
}

.r-main-window {
  margin-left: 200px;
  margin-bottom: 100px;
}

/* Css onverts checkboxes to sliders
   Adapted from: https://www.w3schools.com/howto/howto_css_switch.asp */
.r-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  
  /* Hide default HTML checkbox */
  input {
      display: none;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #777777;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #40BF62;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #40BF62;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider-text-on {
      vertical-align: middle;
      padding-left: 10px;
      color: white;
      font-size: 10px;
  }

  .slider-text-off {
      vertical-align: middle;
      padding-left: 30px;
      color: white;
      font-size: 10px;
  }
}

.r-table {
    border-bottom: 1px solid #95989A;
    border-left: 1px solid #95989A;
    border-right: 1px solid #95989A;
    box-shadow: 1px 3px 6px #95989A;
}

.r-table-header {
    background-color: $primary-color;
    border-top: 1px solid #95989A;
    border-left: 1px solid #95989A;
    border-right: 1px solid #95989A;
    color: #FFFFFF;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 0px 6px #95989A;

    h3 {
      color: white;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      display: inline-block;
    }

    
}

.r-node-selector {
  margin-left: 0px;
  padding: 5px;
}

.oi {
    font-size: 20px;
    margin-left: 7px;
    margin-right: 7px;

    &.oi-circle-x {
        color: $error;
    }

    &.oi-pencil {
        color: $dark1;
    }
}

.aut-sort:before{
    font-family: FontAwesome;
    padding-right: 0.5em;
    width: 1.28571429em;
    display: inline-block;
    text-align: center;
}

.aut-sortable:before{
    content: "\f0dc";
}

.aut-asc:before{
    content: "\f160";
}

.aut-desc:before{
    content: "\f161";
}



.r-dialog {
    //bring the top of the modal below the top banner
    margin-top: 6em;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left:0px;
    padding-right:0px;
    border-radius: 0px;
    width: 300px;

    &.r-delete-confirmation {
        width: 350px;
    }

    &.r-job-dialog {
        width: 450px;
    }

    &.r-job-edit-dialog {
        width: 600px;
    }

    &.r-job-retention-dialog {
        width: 550px;
    }

    .r-dialog-row {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 5%;
        margin-right: 5%;
    
        &.r-no-margin {
            margin-left: 0px;
            margin-right: 0px;
        }

        &.r-component-row {
            height: 40px;
        }

        &.r-dialog-half-row-left {
            width: 50%;
            margin-left: 0px;
            margin-right: 0px;
            float: left;
        }

        &.r-dialog-half-row-right {
            width: 50%;
            margin-left: 0px;
            margin-right: 0px;
            float: right;
        }

        .r-dialog-header {
            background-color: #4285C3;
            color: #FFFFFF;
            margin-top: 0px;
            margin-left: 0px;
            padding: 10px;
            padding-left: 25px;
            font-size: 1.5em;
            font-weight: bold;
            width: 100%;
        }
    
        .r-dialog-title {
            color: #4285C3;
            font-family: Helvetica, sans-serif;
            font-size: 2.5em;
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;
            display: block;
        }

        .r-dialog-body {
            text-align: center;
            color: #4285C3;
            font-size: 1.5em;
            margin-top: 15px;
            margin-bottom: 15px;
            font-weight: bold;
            display: block;
        }

        .r-dialog-footer {
            width: 80%;
            display: inline-block;
            position: fixed;
        }

        .r-dialog-label {
            background-color: #777777;
            color: #FFFFFF;
            font-size: 0.75em;
            width: 20%;
            height: 100%;
            float: left;
            padding-left: 10px;
            padding-bottom: 2px;
            margin-top: auto;
            margin-bottom: auto;
            line-height: 1.75em;

            &.r-large-label {
                width: 35%;
            }
        }

        .r-dialog-control {
            border-radius: 0px;
            border: 1px solid #4285C3; 
            width: 90%;
            color: #95989A;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 15px;
            height: 100%;
            font-weight: bold;

            &.r-with-label {
                width: 70%;
                border-left: none;
            }

            &.r-with-large-label {
                width: 55%;
                border-left: none;
            }
        }

        .r-left-middle {
            float: left;
            margin-left: 20%;
        }
        
        .r-right-middle {
            float: right;
            margin-right: 20%;
        }

        .r-left {
            float: left;
            margin-left: 5%;
        }

        .r-right {
            float: right;
            margin-right: 5%;
        }

        .btn {
            width: 25%;
        }

        .btn-default {
            background-color: #4285C3;
            color: #FFFFFF;
            border-radius: 0px; 
        }
    
        .btn-danger {
            background-color: #DB0000;
            color: #FFFFFF;
            border-radius: 0px;
        }

        .btn-primary {
            background-color: #40BF62;
            color: #FFFFFF;
            border-radius: 0px;
        }
    }
}

.r-job-history-status {
  border-radius: 50px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}

.r-job-history-pending {
  background-color: $neutral
}

.r-job-history-active {
  background-color: $warning
}

.r-job-history-success {
  background-color: $success
}

.r-job-history-failed {
  background-color: $error
}

.r-action-column {
  white-space: nowrap;
}

.r-filter-row {
  margin-top: 20px;
  margin-bottom:20px;
}

.r-page-content {
  min-width: 600px;
}

.r-create-job-btn {
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 5px;

    background-color: #4285C3;
    color: #FFFFFF;
    border-radius: 0px;
}

