<template>
    <require from="aurelia-dialog/ux-dialog"></require>
    
    <ux-dialog class="r-dialog r-job-edit-dialog">
        <div class="r-dialog-row r-no-margin">
            <h1 class="r-dialog-header">Edit Job</h1>
        </div>
        <div class="r-dialog-row r-dialog-half-row-left">
            <div class="r-dialog-row r-no-margin">
                <span class="r-dialog-body">Job Details</span>
            </div>
            <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label">Name</div>
                    <input class="r-dialog-control r-with-label" value.bind="job.name" />
            </div>
            <div class="r-dialog-row r-component-row">
                <select disabled class="form-control r-dialog-control" value.bind="selected_source_host" change.delegate="node_selected()">
                    <option model.bind="null">Source Node</option>
                    <option model.bind="host" repeat.for="host of hosts" >${host.name}</option>
                </select>
            </div>
            <div class="r-dialog-row r-component-row">
                <select disabled class="form-control r-dialog-control" value.bind="job.sdc_vm_id" change.delegate="virtual_machine_selected()">
                    <option model.bind="null">Virtual Machine</option>
                    <option model.bind="vm.sdc_id" repeat.for="vm of virtual_machines" >${vm.name}</option>
                </select>
            </div>
            <div class="r-dialog-row r-component-row">
                <select disabled class="form-control r-dialog-control" value.bind="job.target_host_id">
                    <option model.bind="null">Source Node</option>
                    <option model.bind="host.id" repeat.for="host of hosts" >${host.name}</option>
                </select>
            </div>
            <div class="r-dialog-row r-component-row">
                <select disabled class="form-control r-dialog-control" value.bind="job.source_location" change.delegate="source_location_selected()">
                    <option model.bind="null">Source Location</option>
                    <option model.bind="path" repeat.for="path of zfs_filesystems" >${path}</option>
                </select>
            </div>
            <div class="r-dialog-row r-component-row">
                <div class="r-dialog-label">Target Location</div>
                <input disabled class="r-dialog-control r-with-label" value.bind="job.target_location" />
            </div>
            <div class="r-dialog-row r-component-row"></div>
            <div class="r-dialog-row r-component-row"></div>
        </div>
        <div class="r-dialog-row r-dialog-half-row-right">
            <div class="r-dialog-row r-no-margin">
                <span class="r-dialog-body">Schedule and Retention</span>
            </div>
            <div class="r-dialog-row r-component-row">
                <select class="form-control r-dialog-control" value.bind="job.schedule_id">
                    <option model.bind="null">Schedule</option>
                    <option model.bind="schedule.id" repeat.for="schedule of schedules" >${schedule.display_name}</option>
                </select>
            </div>
            <div class="r-dialog-row r-component-row">
                <div class="r-dialog-label">Offset</div>
                <input type="number" class="r-dialog-control r-with-label" value.bind="job.offset" />
            </div>
            <div class="r-dialog-row r-dialog-half-row-left">
                <div class="r-dialog-row r-no-margin">
                    <span class="r-dialog-body">Source</span>
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">15 Min</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="source.fifteen" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Hourly</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="source.hourly" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Daily</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="source.daily" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Weekly</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="source.weekly" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Monthly</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="source.monthly" />
                </div>
            </div>    
            <div class="r-dialog-row r-dialog-half-row-right">
                    <div class="r-dialog-row r-no-margin">
                        <span class="r-dialog-body">Target</span>
                    </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">15 Min</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="target.fifteen" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Hourly</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="target.hourly" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Daily</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="target.daily" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Weekly</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="target.weekly" />
                </div>
                <div class="r-dialog-row r-component-row">
                    <div class="r-dialog-label r-large-label">Monthly</div>
                    <input type="number" class="r-dialog-control r-with-large-label" value.bind="target.monthly" />
                </div>
            </div>  
        </div>
        <div class="r-dialog-row r-no-margin r-dialog-footer">
            <button class="btn btn-default r-left" type="button" click.delegate="dialogController.cancel()">Cancel</button>
            <button class="btn btn-primary r-right" type="button" click.delegate="submit()">Save</button>
        </div>
    </ux-dialog>   
</template>