<template>
    <require from="./statusCard"></require>
    <div class="r-status-grid">
        <div class="row r-status-grid-header">
            <h1>Status</h1>
        </div>
        <button class="btn r-create-job-btn" click.delegate="create_host()">Create New</button>
        <div class="row">
            <div repeat.for="node of nodes">
                <a href="#/history?filter=source_node&value=${node.name}"><status-card node.bind="node" load-hosts.call="load_hosts()"></status-card></a>
            </div>
        </div>
    </div>
</template>