<template>
    <require from="aurelia-dialog/ux-dialog"></require>

    <ux-dialog class="r-dialog r-delete-confirmation">
        <div class="r-dialog-row r-no-margin">
            <h1 class="r-dialog-header">Confirm</h1>
        </div>
        <div class="r-dialog-row r-no-margin">
            <span class="r-dialog-title">Are you sure?</span>
        </div>
        <div class="r-dialog-row r-no-margin r-dialog-footer">
            <button class="btn btn-default r-left-middle" type="button" click.delegate="dialogController.cancel()">Cancel</button>
            <button class="btn btn-danger r-right-middle" type="button" click.delegate="dialogController.ok()">Delete</button>
        </div>
    </ux-dialog>
</template>